* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-blue-technology-news-background-picture-image_1472608.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
